In [27]:
import pandas as pd

In [6]:
sl = {'short': ['kukurydza','burakC','rzepakO','jeczmienO','lucerna', 'trawy','pszenicaO'\
                ,'TUZ','zytoO','pszenicaJ','rzepikO','pszenzytoO','jeczmienJ','ziemniak',\
                'owies','noData']}

sl

{'short': ['kukurydza',
  'burakC',
  'rzepakO',
  'jeczmienO',
  'lucerna',
  'trawy',
  'pszenicaO',
  'TUZ',
  'zytoO',
  'pszenicaJ',
  'rzepikO',
  'pszenzytoO',
  'jeczmienJ',
  'ziemniak',
  'owies',
  'noData']}

In [7]:
sl['long1']= ['kukurydza', 'burak cuk', 'rzepak ozimy', 'jÄ™czmieĹ„ ozimy', 'lucerna', 'trawy', 'pszenica ozima',\
              'TUZ', 'ĹĽyto ozime', 'pszenica jara', 'rzepik ozimy', 'pszenĹĽyto ozime',\
              'jÄ™czmieĹ„ jary', 'ziemniak', 'owies','no data']

print(sl)

{'short': ['kukurydza', 'burakC', 'rzepakO', 'jeczmienO', 'lucerna', 'trawy', 'pszenicaO', 'TUZ', 'zytoO', 'pszenicaJ', 'rzepikO', 'pszenzytoO', 'jeczmienJ', 'ziemniak', 'owies', 'noData'], 'long1': ['kukurydza', 'burak cuk', 'rzepak ozimy', 'jÄ™czmieĹ„ ozimy', 'lucerna', 'trawy', 'pszenica ozima', 'TUZ', 'ĹĽyto ozime', 'pszenica jara', 'rzepik ozimy', 'pszenĹĽyto ozime', 'jÄ™czmieĹ„ jary', 'ziemniak', 'owies', 'no data']}

In [18]:
tmp = ['TUZ', 'burak cuk', 'jęczmień jary', 'jęczmień ozimy', 'kukurydza', 'lucerna', 'owies',\
       'pszenica jara', 'pszenica ozima', 'pszenżyto ozime', 'rzepak ozimy', 'rzepik ozimy',\
       'trawy', 'ziemniak', 'żyto ozime']

In [20]:
tmp.sort()
tmp

['TUZ',
 'burak cuk',
 'jęczmień jary',
 'jęczmień ozimy',
 'kukurydza',
 'lucerna',
 'owies',
 'pszenica jara',
 'pszenica ozima',
 'pszenżyto ozime',
 'rzepak ozimy',
 'rzepik ozimy',
 'trawy',
 'ziemniak',
 'żyto ozime']

In [56]:
s = ['kukurydza','burakC','rzepakO','jeczmienO','lucerna', 'trawy','pszenicaO'\
                ,'TUZ','zytoO','pszenicaJ','rzepikO','pszenzytoO','jeczmienJ','ziemniak',\
                'owies','noData']


l1 = ['TUZ', 'burak cuk', 'jęczmień jary', 'jęczmień ozimy', 'kukurydza', 'lucerna', 'owies',\
       'pszenica jara', 'pszenica ozima', 'pszenżyto ozime', 'rzepak ozimy', 'rzepik ozimy',\
       'trawy', 'ziemniak', 'żyto ozime','no data']


#l2 = ['kukurydza', 'burak cuk', 'rzepak ozimy', 'jÄ™czmieĹ„ ozimy', 'lucerna', 'trawy', 'pszenica ozima',\
 #             'TUZ', 'ĹĽyto ozime', 'pszenica jara', 'rzepik ozimy', 'pszenĹĽyto ozime',\
  #            'jÄ™czmieĹ„ jary', 'ziemniak', 'owies','no data']

In [57]:
true = [13,7,4,9,0,10,20,6,1,12,3,8,2,11,5,14]

In [58]:
s.sort()
l1.sort()
#l2.sort()
st = list(zip(true,s,l1))
st

[(13, 'TUZ', 'TUZ'),
 (7, 'burakC', 'burak cuk'),
 (4, 'jeczmienJ', 'jęczmień jary'),
 (9, 'jeczmienO', 'jęczmień ozimy'),
 (0, 'kukurydza', 'kukurydza'),
 (10, 'lucerna', 'lucerna'),
 (20, 'noData', 'no data'),
 (6, 'owies', 'owies'),
 (1, 'pszenicaJ', 'pszenica jara'),
 (12, 'pszenicaO', 'pszenica ozima'),
 (3, 'pszenzytoO', 'pszenżyto ozime'),
 (8, 'rzepakO', 'rzepak ozimy'),
 (2, 'rzepikO', 'rzepik ozimy'),
 (11, 'trawy', 'trawy'),
 (5, 'ziemniak', 'ziemniak'),
 (14, 'zytoO', 'żyto ozime')]

In [59]:
kols = ['true','short','long']

In [60]:
df = pd.DataFrame(st,columns=kols).sort_values(by=['true'])
df = df.set_index('true')
df

           short             long
true
0      kukurydza        kukurydza
1      pszenicaJ    pszenica jara
2        rzepikO     rzepik ozimy
3     pszenzytoO  pszenżyto ozime
4      jeczmienJ    jęczmień jary
5       ziemniak         ziemniak
6          owies            owies
7         burakC        burak cuk
8        rzepakO     rzepak ozimy
9      jeczmienO   jęczmień ozimy
10       lucerna          lucerna
11         trawy            trawy
12     pszenicaO   pszenica ozima
13           TUZ              TUZ
14         zytoO       żyto ozime
20        noData          no data

In [65]:
clas = pd.read_csv('/home/u1/03_Programowanie/03Python/skrypty/clipRasterVector/testy/ndviClipped.csv',sep=';')
clas

         id       nazwa  predict
0      8253         TUZ       11
1     11654         TUZ       11
2      4047         TUZ       11
3      7936         TUZ       13
4     20320         TUZ       13
...     ...         ...      ...
2381  11658  żyto ozime       14
2382   4451  żyto ozime        9
2383   2648  żyto ozime        9
2384   9476  żyto ozime       14
2385   4757  żyto ozime       12

[2386 rows x 3 columns]

In [64]:
%ls ../testy/

cros01.csv  dane01.gpkg   r02_trueFalse.csv   r04_modern1.csv  raport.html
dane01.csv  r01_cros.csv  r03_classicAcc.csv  r05_modern2.csv

In [61]:
ll = df.to_records().tolist()
ll

[(0, 'kukurydza', 'kukurydza'),
 (1, 'pszenicaJ', 'pszenica jara'),
 (2, 'rzepikO', 'rzepik ozimy'),
 (3, 'pszenzytoO', 'pszenżyto ozime'),
 (4, 'jeczmienJ', 'jęczmień jary'),
 (5, 'ziemniak', 'ziemniak'),
 (6, 'owies', 'owies'),
 (7, 'burakC', 'burak cuk'),
 (8, 'rzepakO', 'rzepak ozimy'),
 (9, 'jeczmienO', 'jęczmień ozimy'),
 (10, 'lucerna', 'lucerna'),
 (11, 'trawy', 'trawy'),
 (12, 'pszenicaO', 'pszenica ozima'),
 (13, 'TUZ', 'TUZ'),
 (14, 'zytoO', 'żyto ozime'),
 (20, 'noData', 'no data')]