In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from tabulate import _table_formats, tabulate

In [2]:
pd.options.display.width = 250
np.set_printoptions(linewidth=250)

# I. Cross matrix

### 1. Układ macierzy
  >- każda kolumna zawiera wyniki klasyfikacji czyli etykiety 'przewidywane' (`predicted`)
  >- wiersze zawierają dane referencyjne czyli etykiety służące sprawdzeniu poprawności klasyfikacji

### 2. Testowa cross matrix

Do testów wykorzystano macierz z [gis.humboldt.edu](http://gis.humboldt.edu/OLM/Courses/GSP_216_Online/lesson6-2/metrics.html):
  >- fikcyjna macierz, nie związana z żadnymi danymi
  >- zmieniony układ macierzy - jest zgodny z przyjętymi wyżej założeniami.

In [3]:
nazwy = ['water','forest','urban'] # nazwy kolumn i wierszy (są takie same)
value = [[21,5,7],[6,31,2],[0,1,22]] # liczby w komórkach
cros = pd.DataFrame(value,columns=nazwy,index=nazwy)

# nazwy indeksów kolumn i wierszy
cros.axes[0].name='referencje'
cros.axes[1].name='predict'
cros

predict     water  forest  urban
referencje
water          21       5      7
forest          6      31      2
urban           0       1     22

In [4]:
# dodanie sum w wierszach i kolumnach
# sumy w kolumnach
total = cros.sum(axis=0)
cros.loc['total',:] = total

# sumy w wierszach
total = cros.sum(axis=1)

cros.loc[:,'total'] = total
cros
#print(cros.to_html())

predict     water  forest  urban  total
referencje
water        21.0     5.0    7.0   33.0
forest        6.0    31.0    2.0   39.0
urban         0.0     1.0   22.0   23.0
total        27.0    37.0   31.0   95.0

# II. Terminologia

Poniższe wskaźniki opisują klasyfikację binarną tzn. taką, która klasyfikuje dany obiekt:
 - obiekt należy do klasy
 - obiekt nie należy do klasy
 
Jesli dane klasyfikowane są do wielu klas to każda klasa obiektów rozpatrywana jest oddzielnie np. są 3 klasy (jak w testowej cross matrix) `water`, `forest`, `urban`. Dla każdej klasy idywidualnie obliczane są wskaźniki klasyfikacji oparte na stwierdzeniu:

> klasyfikowany obiekt to `water`  
> klasyfikowany obiekt to nie jest `water`  

> klasyfikowany obiekt to `forest`  
> klasyfikowany obiekt to nie jest `forest`  

> klasyfikowany obiekt to `urban`  
> klasyfikowany obiekt to nie jest `urban`


### 1. Binarny operator opisu wyników klasyfikacji

Do opisu wyników klasyfikacji stosuje się dwu miejscowy (binarny operator) złożony z dwóch liter np. `TP (true positive)`:
 
 - pierwsza litera (w przykładzie 'T') oznacza wynik klasyfikacji, który może przyjmować wartość:
    - `T` (true) - poprawna klasyfikacja
    - `F` (false) - niepoprawna klasyfikacja 
 
 - druga litera (w przykładzie 'P') oznaczająca przypisany po klasyfikacji stan obiektu:
    - `P` (positive) - pozytywny, obiekt został sklasyfikowany jako należący do badanej klasy np. obiekt to las - `P`
    - `N` (negative) - negatywny, obiekt został sklasyfikowany jako nie należący do badanej klasy np. obiekt nie jest lasem - `N`


### 2. Rodzaje operatorów binarnych

Są cztery operatory binarne:

 > 1. `TP` (true positive): liczba wszytskich obiektów poprawnie sklasyfikowanych (`T`) jako należących (`P`) do badanej klasy.  
   - `P` wskazuje, że obiekt został sklasyfikowany jako należący do danej klasy, co oznacza, że występuje w kolumnie referencyjnej badanej klasy;  
   - `T` klasyfikacja poprawna, czyli obiekt rzeczywiście należy do klasy, do której został sklasyfikowany, co oznacza, że występuje w wierszu referencji danej klasy;
   - `TN` oznacza więc przypadek w macierzy błędów, znajdujący jednocześnie w wierszu referencyjnym i w kolumnie klasyfikacji badanej klasy, czyli na ich przecięciu (przekątna macierzy) np. na przecięciu wiersza `forest` z kolumną `forest`.
 
 
 > 2. `TN` (true negative): liczba wszytskich obiektów poprawnie sklasyfikowanych (`T`) jako nie należących (`N`) do badanej klasy:
   - `N` wskazuje, że obiekt nie został sklasyfikowany jako należący do badanej klasy, co oznacza, że nie występuje w kolumnie klasyfikacji badanej klasy;   
   - `T` klasyfikacja poprawna, czyli obiekt został prawidłowo sklasyfikowany - nie należy do badanej klasy, co oznacza, że nie występuje w wierszu referencji danej klasy;  
   - `TN` oznacza więc wszystkie przypadki w macierzy błędów, znajdujące się poza wierszem i kolumną badanej klasy np. nie należą ani do kolumny `forest` ani do wiersza `forest`.
 
 
 > 3. `FP` (false positive): liczba wszystkich obiektów, błędnie sklasyfikowowanych (`F`) jako `P` w rzeczywistości będącymi w stanie `N`.
   - `P` wskazuje, że obiekt został sklasyfikowany jako należący do badanej klasy, co oznacza, że występuje w kolumnie klasyfikacji badanej klasy; 
   - `F` błędna klasyfikacja, czyli obiekt w rzeczywistości nie należy do badanej klasy, co oznacza, że nie występuje w wierszu referencyjnym danej klasy;  
   - `FP` oznacza więc wszystkie przypadki w macierzy błędów, znajdujące się w kolumnie klasyfikacji badanej klasy ale nie w wierszu referencji czyli nie orzecięciu się wiersza i kolumny (nie na przekątnej) - np. wszytskie komórki z kolumny `forest`, oprócz komórki na przecięciu wiersza i kolumny `forest`.
 
 > 4. `FN` (false negative): liczba wszystkich obiektów, błędnie sklasyfikowowanych (`F`) jako `N` w rzeczywistości będącymi `P`.
   - `N` wskazuje, że obiekt nie został sklasyfikowany jako należący do badanej klasy, co oznacza, że nie występuje w kolumnie klasyfikacji badanej klasy;   
   - `F` błędna klasyfikacja, czyli obiekt w rzeczywistości należy do badanej klasy, co oznacza, że występuje w wierszu referencji danej klasy;   
   - `FN` oznacza więc wszystkie przypadki w macierzy błędów, poza kolumną klasyfikacji znajdujące się w wierszu referencji badanej klasy np. należą do wiersza `forest`, oprócz komórki na przecięciu wiersza `forest` i kolumny `forest`.

In [5]:
tabl = [['predict','water','enother','enother','enother'],['referencje'],\
       ['water','TP','FN','FN','FN'],['enother','FP','TN','TN','TN'],\
       ['enother','FP','TN','TN','TN'],['enother','FP','TN','TN','TN']]
headers = ['1','2','3','4','5']

for f in list(_table_formats):
    print("\nformat: {}\n".format(f))
    print(tabulate(tabl,tablefmt=f))

format: simple

----------  -----  -------  -------  -------
predict     water  enother  enother  enother
referencje
water       TP     FN       FN       FN
enother     FP     TN       TN       TN
enother     FP     TN       TN       TN
enother     FP     TN       TN       TN
----------  -----  -------  -------  -------

format: plain

predict     water  enother  enother  enother
referencje
water       TP     FN       FN       FN
enother     FP     TN       TN       TN
enother     FP     TN       TN       TN
enother     FP     TN       TN       TN

format: grid

+------------+-------+---------+---------+---------+
| predict    | water | enother | enother | enother |
+------------+-------+---------+---------+---------+
| referencje |       |         |         |         |
+------------+-------+---------+---------+---------+
| water      | TP    | FN      | FN      | FN      |
+------------+-------+---------+---------+---------+
| enother    | FP    | TN      | TN      | TN      |
+------------+-------+---------+---------+---------+
| enother    | FP    | TN      | TN      | TN      |
+------------+-------+---------+---------+---------+
| enother    | FP    | TN      | TN      | TN      |
+------------+-------+---------+---------+---------+

format: fancy_grid

╒════════════╤═══════╤═════════╤═════════╤═════════╕
│ predict    │ water │ enother │ enother │ enother │
├────────────┼───────┼─────────┼─────────┼─────────┤
│ referencje │       │         │         │         │
├────────────┼───────┼─────────┼─────────┼─────────┤
│ water      │ TP    │ FN      │ FN      │ FN      │
├────────────┼───────┼─────────┼─────────┼─────────┤
│ enother    │ FP    │ TN      │ TN      │ TN      │
├────────────┼───────┼─────────┼─────────┼─────────┤
│ enother    │ FP    │ TN      │ TN      │ TN      │
├────────────┼───────┼─────────┼─────────┼─────────┤
│ enother    │ FP    │ TN      │ TN      │ TN      │
╘════════════╧═══════╧═════════╧═════════╧═════════╛

format: github

|------------|-------|---------|---------|---------|
| predict    | water | enother | enother | enother |
| referencje |       |         |         |         |
| water      | TP    | FN      | FN      | FN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |

format: pipe

|:-----------|:------|:--------|:--------|:--------|
| predict    | water | enother | enother | enother |
| referencje |       |         |         |         |
| water      | TP    | FN      | FN      | FN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |

format: orgtbl

| predict    | water | enother | enother | enother |
| referencje |       |         |         |         |
| water      | TP    | FN      | FN      | FN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |

format: jira

| predict    | water | enother | enother | enother |
| referencje |       |         |         |         |
| water      | TP    | FN      | FN      | FN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |

format: presto

 predict    | water | enother | enother | enother
 referencje |       |         |         |
 water      | TP    | FN      | FN      | FN
 enother    | FP    | TN      | TN      | TN
 enother    | FP    | TN      | TN      | TN
 enother    | FP    | TN      | TN      | TN

format: pretty

+------------+-------+---------+---------+---------+
|  predict   | water | enother | enother | enother |
| referencje |       |         |         |         |
|   water    |  TP   |   FN    |   FN    |   FN    |
|  enother   |  FP   |   TN    |   TN    |   TN    |
|  enother   |  FP   |   TN    |   TN    |   TN    |
|  enother   |  FP   |   TN    |   TN    |   TN    |
+------------+-------+---------+---------+---------+

format: psql

+------------+-------+---------+---------+---------+
| predict    | water | enother | enother | enother |
| referencje |       |         |         |         |
| water      | TP    | FN      | FN      | FN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |
| enother    | FP    | TN      | TN      | TN      |
+------------+-------+---------+---------+---------+

format: rst

==========  =====  =======  =======  =======
predict     water  enother  enother  enother
referencje
water       TP     FN       FN       FN
enother     FP     TN       TN       TN
enother     FP     TN       TN       TN
enother     FP     TN       TN       TN
==========  =====  =======  =======  =======

format: mediawiki

{| class="wikitable" style="text-align: left;"
|+ <!-- caption -->
|-
| predict    || water || enother || enother || enother
|-
| referencje ||       ||         ||         ||
|-
| water      || TP    || FN      || FN      || FN
|-
| enother    || FP    || TN      || TN      || TN
|-
| enother    || FP    || TN      || TN      || TN
|-
| enother    || FP    || TN      || TN      || TN
|}

format: moinmoin

||  predict     ||  water  ||  enother  ||  enother  ||  enother  ||
||  referencje  ||         ||           ||           ||           ||
||  water       ||  TP     ||  FN       ||  FN       ||  FN       ||
||  enother     ||  FP     ||  TN       ||  TN       ||  TN       ||
||  enother     ||  FP     ||  TN       ||  TN       ||  TN       ||
||  enother     ||  FP     ||  TN       ||  TN       ||  TN       ||

format: youtrack

|  predict     |  water  |  enother  |  enother  |  enother  |
|  referencje  |         |           |           |           |
|  water       |  TP     |  FN       |  FN       |  FN       |
|  enother     |  FP     |  TN       |  TN       |  TN       |
|  enother     |  FP     |  TN       |  TN       |  TN       |
|  enother     |  FP     |  TN       |  TN       |  TN       |

format: html

<table>
<tbody>
<tr><td>predict   </td><td>water</td><td>enother</td><td>enother</td><td>enother</td></tr>
<tr><td>referencje</td><td>     </td><td>       </td><td>       </td><td>       </td></tr>
<tr><td>water     </td><td>TP   </td><td>FN     </td><td>FN     </td><td>FN     </td></tr>
<tr><td>enother   </td><td>FP   </td><td>TN     </td><td>TN     </td><td>TN     </td></tr>
<tr><td>enother   </td><td>FP   </td><td>TN     </td><td>TN     </td><td>TN     </td></tr>
<tr><td>enother   </td><td>FP   </td><td>TN     </td><td>TN     </td><td>TN     </td></tr>
</tbody>
</table>

format: latex

\begin{tabular}{lllll}
\hline
 predict    & water & enother & enother & enother \\
 referencje &       &         &         &         \\
 water      & TP    & FN      & FN      & FN      \\
 enother    & FP    & TN      & TN      & TN      \\
 enother    & FP    & TN      & TN      & TN      \\
 enother    & FP    & TN      & TN      & TN      \\
\hline
\end{tabular}

format: latex_raw

\begin{tabular}{lllll}
\hline
 predict    & water & enother & enother & enother \\
 referencje &       &         &         &         \\
 water      & TP    & FN      & FN      & FN      \\
 enother    & FP    & TN      & TN      & TN      \\
 enother    & FP    & TN      & TN      & TN      \\
 enother    & FP    & TN      & TN      & TN      \\
\hline
\end{tabular}

format: latex_booktabs

\begin{tabular}{lllll}
\toprule
 predict    & water & enother & enother & enother \\
 referencje &       &         &         &         \\
 water      & TP    & FN      & FN      & FN      \\
 enother    & FP    & TN      & TN      & TN      \\
 enother    & FP    & TN      & TN      & TN      \\
 enother    & FP    & TN      & TN      & TN      \\
\bottomrule
\end{tabular}

format: tsv

predict   	water	enother	enother	enother
referencje
water     	TP   	FN     	FN     	FN
enother   	FP   	TN     	TN     	TN
enother   	FP   	TN     	TN     	TN
enother   	FP   	TN     	TN     	TN

format: textile

|<. predict     |<. water |<. enother |<. enother |<. enother |
|<. referencje  |<.       |<.         |<.         |<.         |
|<. water       |<. TP    |<. FN      |<. FN      |<. FN      |
|<. enother     |<. FP    |<. TN      |<. TN      |<. TN      |
|<. enother     |<. FP    |<. TN      |<. TN      |<. TN      |
|<. enother     |<. FP    |<. TN      |<. TN      |<. TN      |

### 3. Obliczanie operatorów na macierzy testowej

> Układ:
>  - w kolumnach wyniki klasyfikacji
>  - w wierszach dane referencyjne (prawdziwe)

Przykłady obliczeń dla klasy `water`!

#### Dane - macierz bez wierszy podsumowujących

In [6]:
cros.iloc[:-1,:-1]

predict     water  forest  urban
referencje
water        21.0     5.0    7.0
forest        6.0    31.0    2.0
urban         0.0     1.0   22.0

#### 3.1. `TP` true positive

In [7]:
# klasa 'water' - indeks 0
i = 0
# z macierzy wybierz dane - bez wierszy i kolumn z sumami!!!
tmp = cros.iloc[:-1,:-1].to_numpy()
tp = tmp[i,i]
print(f'Dane tmp:\n{tmp}\n\nTrue positive TP dla klasy water: {tp}')

Dane tmp:
[[21.  5.  7.]
 [ 6. 31.  2.]
 [ 0.  1. 22.]]

True positive TP dla klasy water: 21.0

#### 3.2. `TN` true negative

In [8]:
# true negative
tmp = cros.iloc[:-1,:-1].to_numpy()
tmp1 = np.delete(tmp,i,1)  # usuń kolumnę rozpatrywanej klasy
tmp1 = np.delete(tmp1,i,0) # usuń wiersz rozpatrywanej klasy
tn = tmp1.sum()
print(f'Dane tmp1 po usunięciu wiersza i kolumny klasy water:\n{tmp1}\n\nTrue negative TN - suma tmp1: {tn}')

Dane tmp1 po usunięciu wiersza i kolumny klasy water:
[[31.  2.]
 [ 1. 22.]]

True negative TN - suma tmp1: 56.0

#### 3.3. `FP` false positive

In [9]:
# false positive
tmp = cros.iloc[:-1,:-1].to_numpy()
col = np.delete(tmp[:,i],i) # pobierz kolumnę i usuń z niej rozpatrywany wiersz
fp = col.sum()

print(f'Dane col:\n{col}\n\nFalse positive FP: {fp}')

Dane col:
[6. 0.]

False positive FP: 6.0

#### 3.4. `FN` false negative

In [10]:
# false false negative
tmp = cros.iloc[:-1,:-1].to_numpy()

# pobierz wiersz prawdy i usuń z niego rozpatrywaną kolumnę
row = np.delete(tmp[i,:],i) 
fn = row.sum()

print(f'Dane row:\n{row}\n\nFalse negative FN: {fn}')

Dane row:
[5. 7.]

False negative FN: 12.0

### 3.5. Funkcja `trueFalse`
Funkcja generuje tabele z wartościami operatorów dla każdej klasy

In [11]:
def trueFalse(ar,v=False):
    ar = ar.copy()
    cols = ar.columns
    ar = ar.iloc[:-1,:-1].to_numpy()
    k = ar.shape[0]
    sl = {}
    rowsIdx = ['TP','TN','FP','FN']
    
    for i in range(k):
        tp = ar[i,i]
        
        tmp = np.delete(ar,i,1)  # usuń kolumnę rozpatrywanej klasy
        tmp = np.delete(tmp,i,0) # usuń wiersz rozpatrywanej klasy

        tn = tmp.sum()
        
        row = np.delete(ar[i,:],i) # pobierz wiersz i usuń z niego rozpatrywaną kolumnę
        fn = row.sum()
        
        col = np.delete(ar[:,i],i) # pobierz kolumnę i usuń z niej rozpatrywany wiersz
        fp = col.sum()
        
        sl[cols[i]] = [tp,tn,fp,fn]
    
    return pd.DataFrame(sl,index=rowsIdx)

In [31]:
binTF = trueFalse(cros)
binTF

    water  forest  urban
TP   21.0    31.0   22.0
TN   56.0    50.0   63.0
FP    6.0     6.0    9.0
FN   12.0     8.0    1.0

In [34]:
binTF.sum(axis=0).iat[0]

95.0

---

# II. Dokładności
 - overall accuracy
 - errors of omission
 - errors of commission
 - producer accuracy
 - user accuracy



### 1. overall accuracy 


> $$oaAcc = \frac{\text{liczba poprawnych clasyfikacji}}{\text{suma wszystkich}} = \frac{suma(TP)}{TP + TN + FP + FN}$$

In [42]:
total = cros.iloc[-1,-1]
allGood = np.trace(cros.iloc[:-1,:-1]) # suma liczb na przekątnej
oacc = np.round((allGood / total)*1,7)
print(f'''allGood:{allGood:>10}\ntotal:{total:>12}\noacc:{oacc:>13}\t# overall accuracy''')
print(f'oacc: {oacc}')

allGood:      74.0
total:        95.0
oacc:    0.7789474	# overall accuracy
oacc: 0.7789474

In [36]:
# obliczenia z true / false
sumaTp = binTF.loc['TP'].sum()
sumaAll = binTF.sum(axis=0).iat[0]

oacc1 = sumaTp / sumaAll
print(np.round(oacc1*100,0))

78.0

### 2. Errors of Omission

> Błędy pominięcia odnoszą się do wartości referencyjnych. Określają procent pominiętych wartości referencyjnych w każdej klasie

> Błąd pominięcia w jenej klasie jest błędem nadmiaru w innej klasie!

> w przyjętym układzie cross matrix (kolumny - predict, wiersze - ref/true):

> $$erOm = \frac{\text{suma błędów w wierszu}}{\text{suma wszystkich w wierszu}} = \frac{FN}{TP + FN}$$

In [14]:
diag = np.diagonal(cros.iloc[:-1,:-1]) # wartości diagonalne
rowsum = np.sum(cros.iloc[:-1,:-1],axis=1) # sumy w wierszach
dif = rowsum - diag
erOm = np.round((dif/rowsum)*100,0)
print(f'''rowsum: {rowsum.values}\ndiag:   {diag}\ndif:    {dif.values}\n\nerOm:{erOm}''')

rowsum: [33. 39. 23.]
diag:   [21. 31. 22.]
dif:    [12.  8.  1.]

erOm:referencje
water     36.0
forest    21.0
urban      4.0
dtype: float64

In [15]:
print(binTF)

    water  forest  urban
TP   21.0    31.0   22.0
TN   56.0    50.0   63.0
FP    6.0     6.0    9.0
FN   12.0     8.0    1.0

In [16]:
# obliczenia z true / false
sumR = binTF.loc[['TP','FN'],:].sum(axis=0)
sumR
erOm1 = binTF.loc['FN',:] / sumR
print(np.round(erOm1*100,0))

water     36.0
forest    21.0
urban      4.0
dtype: float64

### 3. Errors of Commission

> $$eCom = \frac{\text{suma błędów w kolumnie}}{\text{suma wszystkich w kolumnie}} = \frac{FP}{TP + FP}$$

In [17]:
diag = np.diagonal(cros.iloc[:-1,:-1]) # wartości diagonalne
kolsum = np.sum(cros.iloc[:-1,:-1],axis=0) # sumy w kolumnach
dif = kolsum - diag  # suma błędów - od eszystkich odejmuje poprawne
erCom = np.round((dif/kolsum)*100,0)
print(f'''kolsum: {kolsum.values}\ndiag:   {diag}\ndif:    {dif.values}\n\nerCom:{erCom}''')

kolsum: [27. 37. 31.]
diag:   [21. 31. 22.]
dif:    [6. 6. 9.]

erCom:predict
water     22.0
forest    16.0
urban     29.0
dtype: float64

In [18]:
# obliczenia z true / false
sumK = binTF.loc[['TP','FP'],:].sum(axis=0)
sumK
erCom1 = binTF.loc['FP',:] / sumK
print(np.round(erCom1*100,0))

water     22.0
forest    16.0
urban     29.0
dtype: float64

### 4. producer accuracy
> $$producer = \frac{\text{wartości poprawne (przekątna)}}{\text{suma wiersza}} = \frac{TP}{TP + FN}$$

In [43]:
diag = np.diagonal(cros.iloc[:-1,:-1]) # wartości diagonalne
rowsum = np.sum(cros.iloc[:-1,:-1],axis=1) # sumy w wierszach
producer = np.round((diag/rowsum)*1,7)
print(f'''kolsum: {rowsum.values}\ndiag:   {diag}\n\nproducer:{producer}''')

kolsum: [33. 39. 23.]
diag:   [21. 31. 22.]

producer:referencje
water     0.636364
forest    0.794872
urban     0.956522
dtype: float64

In [50]:
s = pd.Series([0.636364,0.794872,0.956522],index=['water','forest','urban'])
s.axes[0].name = 'referencje'
s

referencje
water     0.636364
forest    0.794872
urban     0.956522
dtype: float64

In [54]:
sn = producer.to_numpy()

In [20]:
# obliczenia z true / false
sumR = binTF.loc[['TP','FN'],:].sum(axis=0)
sumR
producer1 = binTF.loc['TP',:] / sumR
print(np.round(producer1*100,0))

water     64.0
forest    79.0
urban     96.0
dtype: float64

### 5. user accuracy
> $$producer = \frac{\text{wartości poprawne (przekątna)}}{\text{suma kolumny}} = \frac{TP}{TP + FP}$$

In [21]:
diag = np.diagonal(cros.iloc[:-1,:-1]) # wartości diagonalne
kolsum = np.sum(cros.iloc[:-1,:-1],axis=0) # sumy w kolumnach
user = np.round((diag/kolsum)*100,0)
print(f'''kolsum: {kolsum.values}\ndiag:   {diag}\n\nuser:{user}''')

kolsum: [27. 37. 31.]
diag:   [21. 31. 22.]

user:predict
water     78.0
forest    84.0
urban     71.0
dtype: float64

In [22]:
# obliczenia z true / false
sumK = binTF.loc[['TP','FP'],:].sum(axis=0)
sumK
user1 = binTF.loc['TP',:] / sumK
print(np.round(user1*100,0))

water     78.0
forest    84.0
urban     71.0
dtype: float64

---

# III. Precision and Recall

In [23]:
# input data: table with True False / positive negative operators
print('binTF - table with True False / positive negative operators:')
binTF

binTF - table with True False / positive negative operators:

    water  forest  urban
TP   21.0    31.0   22.0
TN   56.0    50.0   63.0
FP    6.0     6.0    9.0
FN   12.0     8.0    1.0

### 1. Dokładność
Dokładność liczona dla każdej klasy osobno i definiowana jako:

> $$acc = \frac{TP + TN}{TP+TN+FP+FN}$$

Przykład dla `wody`:

> $TP + TN = 21 + 56 = 77$  
> $TP+TN+FP+FN = 21 + 56 + 6 + 12 = 95$  
>$acc = \frac{77}{95} = 81\%$

In [24]:
(77/95)*100

81.05263157894737

In [25]:
def acc(binTF):
    sum1 = binTF.loc[['TP','TN'],:].sum(axis=0)
    sum2 = binTF.sum(axis=0)
    acc = (sum1/sum2)*100
    return acc.apply(np.round,decimals=0)

In [26]:
acc(binTF)

water     81.0
forest    85.0
urban     89.0
dtype: float64

### 2. Precision

> $$pr = \frac{TP}{TP + FP}$$

> $TP$ - prawidłowo stwierdzona clasa np. las to las (przekątna macierzy)  
> $FP$ - fałszywie przydzielone do danej klasy np. woda jako las, urban jako las - suma fałszywych, czyli suma w wierszach oprócz przekątnych ($TP$)

> Jaka część identyfikacji pozytywnej była rzeczywiście prawidłowa?
> What proportion of positive identifications was actually correct?

In [27]:
def precision(binTF):
    licznik = binTF.loc['TP',:]
    mian = binTF.loc[['TP','FP'],:].sum(axis=0)
    wyn = (licznik/mian)*100
    return wyn.apply(np.round,decimals=0)

In [28]:
precision(binTF)

water     78.0
forest    84.0
urban     71.0
dtype: float64

### 2.  Recall (sensitivity, hit rate, true positive rate)

>$$ rec = \frac{TP}{TP+FN}$$

Recall attempts to answer the following question:

> What proportion of actual positives was identified correctly?

In [29]:
def sensitivity(binTF):
    licznik = binTF.loc['TP',:]
    mian = binTF.loc[['TP','FN'],:].sum(axis=0)
    wyn = (licznik/mian)*100
    return wyn.apply(np.round,decimals=0)

In [30]:
sensitivity(binTF)

water     64.0
forest    79.0
urban     96.0
dtype: float64