In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from tabulate import _table_formats, tabulate
import re

In [2]:
np.set_printoptions(precision=9,linewidth=150)
pd.set_option('expand_frame_repr', True)
pd.set_option('precision', 9)

In [3]:
#pd.get_option('*')

In [4]:
nazwy = ['water','forest','urban'] # nazwy kolumn i wierszy (są takie same)
value = [[21,5,7],[6,31,2],[0,1,22]] # liczby w komórkach
cros = pd.DataFrame(value,columns=nazwy,index=nazwy)

# nazwy indeksów kolumn i wierszy
cros.axes[0].name='referencje'
cros.axes[1].name='predict'
cros

predict     water  forest  urban
referencje
water          21       5      7
forest          6      31      2
urban           0       1     22

In [5]:
cros.sum()

predict
water     27
forest    37
urban     31
dtype: int64

In [6]:
class accIndex:
    
    def __init__(self,data,precision=7):
        self.data = data.copy()

    # ....................................................

    def _acc(self):
        ''' accuracy (ACC):
            ACC = (TP+TN)/(P+N) = (TP+TN)/(TP+TN+FP+FN)
        '''
        tf = trueFalse.copy().astype(np.float128)
        licznik = tf.loc[['TP','TN'],:].sum(axis=0)
        mian = tf.loc[['TP','TN','FP','FN'],:].sum(axis=0)
        #print(f'\n\nSprrrrrr:\n\n{licznik}\n\n{mian}\n\nkonirc\n\n')
        return licznik/mian


    def _ppv(trueFalse,prec=2):
        ''' precision or positive predictive value (PPV)
            PPV = TP / (TP + FP)
        '''
        tf = trueFalse.copy().astype(np.float128)
        licznik = tf.loc['TP',:]
        mian = tf.loc[['TP','FP'],:].sum(axis=0)
        return licznik/mian

In [7]:
l = dir(accIndex)
l

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_acc',
 '_ppv']

In [8]:
re.search(r'^_{1}[a-z]+','_weakref__')

In [9]:
for m in dir(accIndex):
    if re.search(r'^_{1}[a-z]+',m):
        print(re.search(r'^_{1}[a-z]+',m)[0])

_acc
_ppv

In [10]:
ax = '/home/u1/03_Programowanie/03Python/skrypty/accuracy/tmp/binTF.csv'
binTF = [[21., 31., 22.],[56., 50., 63.],[ 6.,  6.,  9.],[12.,  8.,  1.]]
binTF = pd.DataFrame(binTF, index=['TP', 'TN', 'FP', 'FN'], columns=['water', 'forest', 'urban'])
binTF

    water  forest  urban
TP   21.0    31.0   22.0
TN   56.0    50.0   63.0
FP    6.0     6.0    9.0
FN   12.0     8.0    1.0

In [11]:
binTF.to_csv(ax,sep=';')

In [12]:
modern1 = pd.read_csv('/home/u1/03_Programowanie/03Python/skrypty/accuracy/tmp/r0binTF_2_modern1.csv',\
                      sep=';',index_col=0)
modern1

,acc,ppv,tpr,tnr,npv,fnr,fpr,fdr,foRate,ts,mcc
water,0.810526316,0.777777778,0.636363636,0.903225806,0.823529412,0.363636364,0.096774194,0.222222222,0.176470588,0.538461538,0.569613037
forest,0.852631579,0.837837838,0.794871795,0.892857143,0.862068966,0.205128205,0.107142857,0.162162162,0.137931034,0.688888889,0.693791152
urban,0.894736842,0.709677419,0.956521739,0.875000000,0.984375000,0.043478261,0.125000000,0.290322581,0.015625000,0.687500000,0.759683931

In [13]:
modern1.columns

Index(['acc', 'ppv', 'tpr', 'tnr', 'npv', 'fnr', 'fpr', 'fdr', 'foRate', 'ts',
       'mcc'],
      dtype='object')

In [14]:
modern1.index

Index(['water', 'forest', 'urban'], dtype='object')

In [15]:
modern1.to_numpy()

array([[0.810526316, 0.777777778, 0.636363636, 0.903225806, 0.823529412, 0.363636364, 0.096774194, 0.222222222, 0.176470588, 0.538461538,
        0.569613037],
       [0.852631579, 0.837837838, 0.794871795, 0.892857143, 0.862068966, 0.205128205, 0.107142857, 0.162162162, 0.137931034, 0.688888889,
        0.693791152],
       [0.894736842, 0.709677419, 0.956521739, 0.875      , 0.984375   , 0.043478261, 0.125      , 0.290322581, 0.015625   , 0.6875     ,
        0.759683931]])

In [16]:
modern2 = pd.read_csv('/home/u1/03_Programowanie/03Python/skrypty/accuracy/tmp/r0binTF_3_modern2.csv',\
                      sep=';',index_col=0)
modern2

,pt,ba,f1,fm,bm,mk
water,0.280558109,0.769794721,0.700000000,0.703526471,0.539589442,0.601307190
forest,0.268546633,0.843864469,0.815789474,0.816072096,0.687728938,0.699906804
urban,0.265515653,0.915760870,0.814814815,0.823906475,0.831521739,0.694052419

In [17]:
modern2.columns

Index(['pt', 'ba', 'f1', 'fm', 'bm', 'mk'], dtype='object')

In [18]:
modern2.index

Index(['water', 'forest', 'urban'], dtype='object')

In [19]:
modern2.to_numpy()

array([[0.280558109, 0.769794721, 0.7        , 0.703526471, 0.539589442, 0.60130719 ],
       [0.268546633, 0.843864469, 0.815789474, 0.816072096, 0.687728938, 0.699906804],
       [0.265515653, 0.91576087 , 0.814814815, 0.823906475, 0.831521739, 0.694052419]])

In [53]:
ad=Path('/media/u1/1674-9C99/acc/RFout/')
res='Result'

In [56]:
for it in ad.glob("*.tif"):
    name = it.name[:4]
    name = f'{name}{res}'
    tmp = it.with_name(name)
    tmp.mkdir()
    print(tmp,tmp.is_dir())

/media/u1/1674-9C99/acc/RFout/im01Result True
/media/u1/1674-9C99/acc/RFout/im02Result True
/media/u1/1674-9C99/acc/RFout/im03Result True
/media/u1/1674-9C99/acc/RFout/im04Result True
/media/u1/1674-9C99/acc/RFout/im05Result True
/media/u1/1674-9C99/acc/RFout/im06Result True
/media/u1/1674-9C99/acc/RFout/im07Result True
/media/u1/1674-9C99/acc/RFout/im08Result True
/media/u1/1674-9C99/acc/RFout/im09Result True

In [57]:
ad=Path('/media/u1/1674-9C99/acc/RFout/')
l = []
for it in ad.glob("*"):
    if it.is_dir() and re.search(r'im\d\d',it.name):
        l.append(it.resolve().as_posix())

l

['/media/u1/1674-9C99/acc/RFout/im01Result',
 '/media/u1/1674-9C99/acc/RFout/im02Result',
 '/media/u1/1674-9C99/acc/RFout/im03Result',
 '/media/u1/1674-9C99/acc/RFout/im04Result',
 '/media/u1/1674-9C99/acc/RFout/im05Result',
 '/media/u1/1674-9C99/acc/RFout/im06Result',
 '/media/u1/1674-9C99/acc/RFout/im07Result',
 '/media/u1/1674-9C99/acc/RFout/im08Result',
 '/media/u1/1674-9C99/acc/RFout/im09Result']

In [59]:
ad=Path('/media/u1/1674-9C99/acc/RFout/res/')
for it in ad.glob("*"):
    txt = it.name[:4]
    for new in l:
        if txt in new:
            #print(it.name,'\n',new,'\n\n')
            new = Path(new).joinpath(it.name)
            it.rename(new)
            #print(f'{it}\n{new}\n\n')

In [64]:
np.zeros?